@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Fredoka";
    src: url("/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Fredoka", system-ui, sans-serif;
    /*
        overflow rubberband on mobile devices determines the color from the html element
    */
    background-color: var(--bg-accent-transparent);
}

:root {
    --bg-accent: rgb(237, 171, 234);
    --bg-accent-transparent: rgb(249, 226, 248);
    --bg-accent-transparenter: rgb(251, 234, 250);
    --accent-secondary: hsl(272, 40%, 50%);
    --accent-secondary-inactive: hsl(272, 28%, 40%);
    --accent-secondary-inactive-hover: hsl(272, 35%, 35%);
    --accent-tetriary: hsl(265, 40%, 50%);
    --accent-tetriary-inactive: hsl(265, 28%, 40%);
    --accent-tetriary-inactive-hover: hsl(265, 35%, 35%);
    --accent: hsl(290, 50%, 60%);
    --accent-inactive: hsl(290, 35%, 45%);
    --accent-inactive-hover: hsl(290, 42%, 40%);
    --accent-old: hsl(303, 36%, 62%);
    --accent-old-inactive: hsl(303, 26%, 45%);
    --accent-old-inactive-hover: hsl(303, 32%, 40%);
    --accent-alternate: hsl(15, 100%, 75%);
    --accent-alternate-inactive: hsl(15, 60%, 50%);
    --accent-alternate-inactive-hover: hsl(15, 75%, 45%);
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/*
    cute little background gradient practically copied from buh.moe :oopsie:
*/
body::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse 110% 60% at 50% 0%, rgba(237, 171, 234, 0.3) 0%, rgba(237, 171, 234, 0.15) 35%, transparent 60%);
    pointer-events: none;
    z-index: -1;
}

main {
    max-width: 1280px;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: large;
    flex-grow: 1;
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }
}

hr {
    width: 4em;
    align-self: center;
    opacity: 0.1;
    margin: 1em 0em;
    border-width: 2px;
    border-radius: 4px;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--accent-secondary);
    /* EVIL FUCKED UP SHADOW PLUS OUTLINE HACK DONT ASK */
    text-shadow:
        -3px -3px 0 white,
        3px -3px 0 white,
        -3px 3px 0 white,
        3px 3px 0 white,
        -3px 0 0 white,
        3px 0 0 white,
        0 -3px 0 white,
        0 3px 0 white,
        -3px 6px 0px rgba(0, 0, 0, 0.35);
    flex-shrink: 0;
    transition: transform 50ms;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

h1:hover {
    transform: rotate(-1deg);
}

h1:active {
    transform: scale(0.95);
}

.color-accent {
    color: var(--accent);
}

/* Twemoji */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
    display: inline-block;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

