---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import geggobanner from "../assets/geggobanner.png";
import buh from "../assets/wip.png";
---

<Main>
    <div class="my-16 text-center flex flex-col">
        <h1>Archive</h1>
        <hr />
        the buh is still working on this.
        <Image
            src={buh}
            width={300}
            height={300}
            alt="the buh is working very hard."
            class="self-center"
        />
    </div>
</Main>

<style>
    .index-banner {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        object-position: center -32px;
    }
</style>
