---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import placeholder from "../assets/blog-placeholder-3.jpg"
import galleryComics from '../assets/gallery-banners/banner_3.png'
import galleryMisc from '../assets/gallery-banners/geggobanner.png'
import galleryChristmas from '../assets/gallery-banners/hohoohohoh.png'
import GalleryView from "../components/GalleryView.astro";
import GalleryEntry from "../components/GalleryEntry.astro";
---

<Main>
    <div class="my-16 text-center flex flex-col">
        <h1>Gallery</h1>
        <hr />
        <span class="my-16 font-cute text-xl">placeholder placeholder buh buh buh lorem ipsum lorem ipsum buh i really like burgers</span>
        <GalleryView>
            <GalleryEntry
                image={galleryComics}
                label="Comics"
                alt="Geggos sitting in the grass with a friend on a sunny day"
                classes="object-right"
            />
            <GalleryEntry
                image={galleryMisc}
                label="Misc"
                alt="A banner of Geggos and his friends"
            />
            <GalleryEntry
                image={galleryChristmas}
                label="Christmas"
                alt="Geggos dragging a santa sleigh with two friends in it"
                classes="object-right"
            />
        </GalleryView>
    </div>
</Main>