---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import geggobanner from "../assets/geggobanner.png";
import buh from "../assets/wip.png";

---
<Main>
    <div class="image-container flex flex-col items-center justify-end w-screen relative left-1/2 -translate-x-1/2">
        <Image
            src={geggobanner}
            alt="a banner of Geggos and his friends"
            class="index-banner"
            width={2048}
            height={1152}
        />
    </div>
    <div class="my-16 text-center flex flex-col px-6">
        <h1>Welcome to Geggos.net!</h1>
        <hr />
        <div class="flex flex-col">
            <span>placeholder placeholder buh buh buh lorem ipsum lorem ipsum buh i really like burgers placeholder placeholder buh buh buh lorem ipsum lorem ipsum buh i really like burgers</span>
            <span>placeholder placeholder buh buh buh lorem ipsum lorem ipsum buh i really like burgers</span>
            <span>ideally socials etc would go here</span>
        </div>
    </div>
</Main>

<style>
    .content {
        padding: 0 !important;
    }
    .index-banner {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        max-width: 1300px;
    }

    .image-container {
        pointer-events: none;
        user-select: none;
        height: 400px;
        width: 100vw;
        background-color: rgb(255, 245, 255);
        border-bottom: 4px solid var(--bg-accent-transparent);
    }

    @media (max-width: 768px) {
        .image-container {
            height: 250px;
        }
        .index-banner {
            height: 95%;
        }
    }

    @media (hover:hover){
        h1:hover {
            transform: rotate(-0.5deg) !important;
        }
        h1:active {
            transform: scale(0.95) !important;
        }
    }

</style>
