---
import Main from "../layouts/Main.astro";
---

<Main>
    <div class="my-16 flex flex-col">
        <h1>Private Policy</h1>
        <hr />
        <p>I can't tell you the policy, it's private.</p>
    </div>
</Main>
