---
import Main from "../layouts/Main.astro";
---

<Main>
    <div class="my-16 flex flex-col">
        <h1>Private Policy</h1>
        <hr />
        <p class="text-center my-16 font-cute text-xl">I can't tell you the policy, it's private.</p>
    </div>
</Main>
