---
const today = new Date();
---

<footer>
    <div class="flex flex-col md:flex-row px-4 py-6 items-center justify-between md:px-8 max-w-7xl mx-auto gap-4">
        <div class="flex flex-col gap-1">
            <span>🍓 Powered by <a>BerryCo</a></span>
            <span>❤️ Website by <a href="https://buh.moe" target="_blank">amemoia</a></span>
            <!-- <span>❤️ Website by <a href="https://buh.moe" target="_blank">amemoia</a></span> -->
        </div>
        <div class="flex flex-col gap-1 text-right">
            <span>Copyright &copy; {today.getFullYear()} BerryCo - All Rights Reserved</span>
            <a href="/private-policy">Private Policy</a>
        </div>
    </div>
</footer>
<style>
    footer {
        border-top: 2px dashed var(--bg-accent);
        background-color: var(--bg-accent-transparenter);
        margin-top: 4em;
    }
    footer > div {
        width: 100%;
    }
    footer a {
        font-weight: 600;
    }
</style>
