---
const today = new Date();
---

<footer>
    <div class="footer-top flex flex-row justify-between items-center">
        <div class="flex items-center">
            <span>
                Copyright &copy; {today.getFullYear()} BerryCo - All Rights Reserved.
            </span>
        </div>
        <div class="flex items-center">
            <span>Powered by BerryCo</span>
        </div>
    </div>
    <div class="footer-bottom text-center mt-4">
        <a href="./private-policy">PRIVATE POLICY</a>
    </div>
</footer>
<style>
    footer {
        width: 100%;
        padding: 2em 4em;
        background-color: var(--bg-accent);
    }
    footer > div {
        width: 100%;
    }
</style>
